.contact {
    height: 100vh;
    background-color: #ff6b66;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 80%;
    width: 80%;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    display: flex;
    justify-content: center;
    width: 40%;
    border: 1px solid
}

.contactForm {
    border: 1px solid;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name {
    box-sizing: border-box;
    width: 100%;
}

.email {
    box-sizing: border-box;
    width: 100%;
}

.message {
    box-sizing: border-box;

    width: 100%;
}

.btnSubmit {

}

@media screen and (max-width: 520px) {
    .contactForm {
        width: 100%;
    }
}