@import '../../../assets/scss/mixin.scss';

.title { text-align: center }

.title h2 {
  color: #222222;
  font-weight: 700;
  position: relative;
  margin-bottom: 70px;
  font-size: 45px;
  line-height: 44px;
}
.title h2:before,
.title h2:after {
  content: "";
  position: absolute;
  left: 50%;
  @include transform(translateX(-50%));
  background: $colorred;
}
.title h2:before {
  bottom: -31px;
  width: 100px;
  height: 2px;
}
.title h2:after {
  bottom: -35px;
  width: 10px;
  height: 10px;
  border-radius: 8px;
}



