.skills {
    min-height: 100vh;
    background-color: #fff792;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    /*padding: 90px 0;*/
    height: 80%;
    width: 80%;
    border: 1px solid;
    display: flex;
    flex-direction: column;
}

.skillBlocks {
    display: flex;
    justify-content: space-between;
    height: 100%;
    flex-wrap: wrap;
}













@media screen and (max-width: 1148px) {
    .skillBlocks {
        justify-content: space-around;
    }
}
