.main {
    min-height: 100vh;
    background-color: #ffcaf3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 80%;
    width: 80%;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.greeting {
    display: flex;
    flex-direction: column;
}

.photo {
    height: 400px;
    width: 300px;
    background-color: #f2f2f2;
}

.photo img {
    width: 100%;
    margin: 0 0 -2% 0;
}







@media screen and (max-width: 375px) {
    .photo {
        width: 100%;
        height: unset;
    }
}

