.projects {
    padding: 90px 0;
    background-color: #f9f9ff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 80%;
    /*border: 1px solid;*/
    display: flex;
    flex-direction: column;
}

.projectBlocks {
    display: flex;
    justify-content: space-around;
    height: 100%;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}












/*@media screen and (max-width: 1004px){*/
/*    .projectBlocks {*/
/*        justify-content: center;*/
/*    }*/
/*}*/