.projects {
    min-height: 100vh;
    background-color: #f9f9ff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 80%;
    width: 80%;
    border: 1px solid;
    display: flex;
    flex-direction: column;
}

.title {
    height: 150px;
    border: 1px solid;
    background-color: #f2f2f2;
    text-align: center;
}

.title h2 {
    font-family: 'Poppins', sans-serif;
    color: #222222;
    font-weight: 700;
    margin-bottom: 70px;
    font-size: 45px;
    line-height: 44px;
}

.projectBlocks {
    display: flex;
    justify-content: space-around;
    height: 100%;
    flex-wrap: wrap;
}












@media screen and (max-width: 1004px){
    .projectBlocks {
        justify-content: center;
    }
}