.projectBlock {
    width: 400px;
    background-color: #d3d3d3;
    border: 1px solid;
    display: flex;
    flex-direction: column;
}

.projectCover {
    height: 300px;
    background-color: #f2f2f2;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cover {
    height: 100%;
}

.coverBtn {

}

.description {
    height: 100%;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
}







